<div class="container mt-4">
    <div class="row">
        <button type="button" class="btn btn-primary" (click)="goToEditNewPerson()">Novo</button>
    </div>
    <div class="mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons">
                    <td>{{ person.id }}</td>
                    <td>{{ person.username }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.phone }}</td>
                    <td>{{ person.fkType.description }}</td>
                    <td>
                        <button type="button" class="btn btn-info"
                            (click)="goToEditNewPerson(person.id)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>